<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="CustomApplicationConfig" type="SeriesUI.Configuration.CustomApplicationConfigSection, SeriesUI"/>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <appSettings>
    <add key="InActiveCompleteColor" value="#FF6DF4AA"/>
    <add key="ActiveCompleteColor" value="#FF00D87E"/>
    <add key="InActiveNotSubbedNlColor" value="#FF0741FF"/>
    <add key="ActiveNotSubbedNlColor" value="#FF6495ED"/>
    <add key="InActiveNotSubbedColor" value="#FFFFFF84"/>
    <add key="ActiveNotSubbedColor" value="#FFFFF01E"/>
    <add key="InActiveNotDownloadedColor" value="#FFFF5B4C"/>
    <add key="ActiveNotDownloadedColor" value="#FFFF490C"/>
    <add key="InactiveNotApplicableColor" value="#FFC0C0C0"/>
    <add key="ActiveNotApplicableColor" value="#FFC0C0C0"/>
    <add key="LabelWidth" value="30"/>
    <add key="LabelHeight" value="30"/>
    <add key="LabelSpacing" value="5"/>
  </appSettings>
  <CustomApplicationConfig>
    <SeriesPlaceHolder text="SERIESPLACEHOLDER"/>
    <SaveFile Name="series.dat"/>
    <SeriesWebSite url="https://www.seriesfeed.com/"/>
    <SeriesWebSiteLocation suburl="/series/SERIESPLACEHOLDER/episodes/season"/>
    <SeriesList>
      <Series Name="Better Call Saul"/>
      <Series Name="Fargo"/>
      <Series Name="Fear The Walking Dead"/>
      <Series Name="Game of Thrones"/>
      <Series Name="House of Cards"/>
      <Series Name="iZombie"/>
      <Series Name="Modern Family"/>
      <Series Name="Mr Robot"/>
      <Series Name="Once Upon a Time"/>
      <Series Name="Sense8"/>
      <Series Name="Sherlock"/>
      <Series Name="The Americans"/>
      <Series Name="The Big Bang Theory"/>
      <Series Name="The Blacklist"/>
      <Series Name="The Walking Dead"/>
      <Series Name="True Detective"/>
      <Series Name="Vikings"/>
    </SeriesList>
  </CustomApplicationConfig>
</configuration>
