<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CustomApplicationConfig" type="SeriesUI.Configuration.CustomApplicationConfigSection, SeriesUI"/>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="LabelInActiveColor" value="#FF6495ED"/>
    <add key="LabelActiveColor" value="#FF0741FF"/>
    <add key="LabelWidth" value="30"/>
    <add key="LabelHeight" value="30"/>
    <add key="LabelSpacing" value="5"/>
  </appSettings>
  <CustomApplicationConfig>
    <SeriesPlaceHolder text="SERIESPLACEHOLDER"/>
    <SeriesWebSite url="https://www.seriesfeed.com/"/>
    <SeriesWebSiteLocation suburl="/series/SERIESPLACEHOLDER/episodes/season"/>
    <SeriesList>
      <Series Name="The Big Bang Theory"/>
      <Series Name="Modern Family"/>
    </SeriesList>
  </CustomApplicationConfig>
</configuration>