# Visual Studio project files and folders
**/packages/
**/obj/
**/bin/
**/output/
**/.vs/
*.lock.json
*.nuget.targets
*.user
implementation/FMB/FMB.ACFMB.Interface/IDD_AC_FMB.cs
implementation/FMB/FMB.ACFMB.Interface/IDD_AC_FMB.xsd
implementation/FMB/FMB.FleetManagerAdapter.TOne/interfaces/ServiceClient.cs
test/agv_fmb-atf/TestConfiguration/Generated/ProcessConfiguration.cs
test/agv_fmb-atf/TestConfiguration/Generated/EnvironmentConfiguration.cs
test/agv_fmb-atf/SharedDefinitions/Generated/IDD_AC_FMB_XML_Schema_Definition.cs
test/agv_fmb-atf/SharedDefinitions/Generated/IDD_AC_FMB.xsd
test/agv_fmb-atf/SharedDefinitions/Generated/IDD_AC_FMB.cs
test/agv_fmb-atf/Definitions/Simulators/TOne/FleetServer/TransportJobServer.cs
